body {
		margin: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 0px 30px;
    height: 100px;
    background-color: #104E8B;
    color: #ffffff;
}

main {
    border: 1px solid black;
    margin: 80px 90px
}

.drop-down {
    display: flex;
    margin: 10px 20px;
    justify-content: flex-end;
}

.drop-down select {
    margin-left: 20px;
}


/* __________________ TABLE __________________ */


table {
    border-collapse: separate;
    background: #ffffff;
    margin: 25px auto;
    width:60%;
}

thead th {
    font-size:16px;
    font-weight:400;
    color:#ffffff;
    text-align:left;
    padding:20px;
    background-color: #104E8B; 
}

thead th:first-child {
    border-top-left-radius: 5px; 
}

thead th:last-child {
   	border-top-right-radius: 5px; 
}  

tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:#5f6062;
  font-size:13px;
  padding:20px;
}

tbody tr:nth-child(2n) {
  background:#f0f3f5;
}

tbody:hover > tr td {
  opacity: 0.5;
}

tbody:hover > tr:hover td {
  text-shadow: none;
  color:#2d2d2d;
  opacity: 1.0;
}


/* __________________ TABLE __________________ */


.pages {
	display: flex;
	list-style: none;
  justify-content: center;
	margin-bottom: 25px;
}

.pages li {
	cursor: pointer;
	margin-left: 10px;
}

.pages li:hover {
    color: #C0C0C0;
}

footer {
    height: 100px;
    background-color: #104E8B;
}


/* __________________ MEDIA QUERIES __________________ */


@media screen and (max-width: 1024px) {
    table {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    main {
        border: none;
        margin: 80px 0px;
    }
}


/* __________________ MEDIA QUERIES __________________ */




